body {
    background-color: lightblue
}

nav {
    background-color: lightblue;
    padding: 3px 3px;
    margin: 0px;
    border: 1px dotted whitesmoke;
    display: block;
    margin-inline: auto;
    width: 0, auto;
    text-align: center;
    color: white;
}

nav.copyright {
    border: none;
    width: auto;
    color: white;
}

a {
    display: inline-block;
    background-color:  lightpink;
    padding: 2px 6px;
    text-decoration: none;
    color: white;
}

a.w3 {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0, auto;
}

h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
}

h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
}

a.samsombathsollink {
    color: whitesmoke;
    display: inline-block;
    background-color: lightblue;
}

p {
    text-align: left;
    max-width: 70%;
    margin: 0 auto;
    background-color: none;
    color: whitesmoke;
}

p.copyright {
    display: inline-block;
    color: whitesmoke;
    background-color: lightblue;
}

p.content {
    color: whitesmoke;
    margin: 0, auto;
    background-color: lightblue;
    text-align: center;
}

ul {
    max-width: 80%;
    margin: 0 auto;
    background-color: none;
    color: whitesmoke;
    border: 2px dotted lightpink
}

ul.inner {
    border: none;
}

figure {
    text-align: center;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    color: ivory;
}

p.signature {
    text-align: left;
}

tr.col1 {
    background-color: #9A9A9A;
    color: blacke;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

td.department {
    background-color: whitesmoke;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid whitesmoke;
    width: 0, auto;
    text-align: left;
    margin: 0 auto;
}

ol {
    margin: 0 auto;
    padding: 2px, 0, auto;
}