body {
    background: #e8c1b2;
    margin: 50px
}

nav {
    background: #8a817c;
    padding: 3px 3px;
    margin: 0px;
    border: 1px solid ;
    display: block;
    text-align: center;
    color: white;
}

nav.copyright {
    border: none;
    width: auto;
    color: white;
}

a {
    display: inline-block;
    padding: 2px 6px;
    text-decoration: none;
    color: #f4f3ee;
}

a.w3 {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
}

h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
}

h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
}

a.samsombathsollink {
    color: whitesmoke;
    display: inline-block;
    background-color: lightblue;
}

p {
    text-align: left;
    max-width: 70%;
    margin: 0 auto;
    background-color: none;
    color: whitesmoke;
}

p.copyright {
    display: inline-block;
    color: whitesmoke;
    background-color: lightblue;
}

p.content {
    color: whitesmoke;
    margin: 0 auto;
    background-color: lightblue;
    text-align: center;
}

ul {
    max-width: 80%;
    margin: 0 auto;
    background-color: none;
    color: #463f3a;
    border: 2px dotted #463f3a;
}

ul.inner {
    border: none;
}

figure {
    text-align: center;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    color: ivory;
}

p.signature {
    text-align: left;
}

tr.col1 {
    background-color: #9A9A9A;
    color: black;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

td.department {
    background-color: whitesmoke;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid whitesmoke;
    width: 0 auto;
    text-align: left;
    margin: 0 auto;
}

ol {
    margin: 0 auto;
    padding: 2px 0 auto;
}

form {
    max-width: 500px;
    background-color: lightgray;
    margin: 0 auto;
    color: black;
    font-size: 15px;
    font-family: Tahoma;
    padding: 20px
}

fieldset {
    border: none;
    padding: 1rem 0;
    border-bottom: 2px solid white;
}

input, select {
    width: 100%;
    padding: auto;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
}

select {
    width: auto;
    min-height: 1.4em;
    border: 1px solid black;
}

input[type="submit"], input[type="reset"] {
    margin: 0 auto;
    width: 100px;
    height: 2em;
    font-size: 15px;
    background-color: grey;
    color: whitesmoke;
    min-width: 30px;
}

input.inline {
    width: auto;
    margin-right: auto;
}