<header>
    <div class="navbar">
        <div class="logo">
            <a href="index.html"><img id="mach-atlus-logo" src="images/mach-atlus-no-bg-logo.png" alt="mach-atlus-no-bg-logo"></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">MENU</button>
            <div class="dropdown-content" id="myDropdown">
                <a class="navbar" href="index.html">HOME</a>
                <a class="navbar" href="about_us.html">ABOUT US</a>
                <a class="navbar" href="services.html">SERVICES</a>
                <a class="navbar" href="contact_us.html">CONTACT US</a>
                <a class="navbar" href="gallery.html">GALLERY</a>
            </div>
        </div> 
    </div>
</header>