<footer>
    <hr>
    <nav>
        <a href="https://webpages.charlotte.edu/asamsomb/">CLT Homepage</a>
        ||
        <a href="https://github.com/asamsomb/asamsomb.github.io">GitHub Repository</a>
        ||
        <a href="https://asamsomb.github.io/itis3135/">GitHub.io</a>
        ||
        <a href="https://www.freecodecamp.org/asamsomb">freeCodeCamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/asamsomb">Codeacademy</a>
        ||
        <a href="https://www.linkedin.com/in/leeaida/">LinkedIn</a>
    </nav>
    <nav>
        <p class="copyright">Designed by<a class="samsombathsollink" href="https://webpages.charlotte.edu/asamsomb/itis3135/samsombathsol.co/">Samsombath Solutions &hearts;</a>&copy; 2023, Certified in<a href="https://www.freecodecamp.org/certification/asamsomb/responsive-web-design" class="cert-links">Responsive Web Design</a>and<a href="https://www.freecodecamp.org/certification/asamsomb/javascript-algorithms-and-data-structures" class="cert-links">JS</a>.</p>
        <a class="w3" href="https://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!"></a>
        <a class="w3" href="https://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!"></a>
    </nav>
</footer>